.goods-item {
  max-width: 234px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;

  .discount {
    @include discountButton();
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
  }

  img {
    width: 100%;
    max-width: 234px;
    height: auto;
  }

  .title {
    color: $color-black;
    font-size: 14px;
    font-weight: 300;

    @media(min-width: $bp-sm) { 
      font-size: 15px;
    }
  }

  .price {
    display: flex;
    gap: 5px;
    flex-direction: column;
    gap: 5px;

    @media(min-width: $bp-sm) {
      flex-direction: row;
      align-items: center;
    }
  }

  .discount-price {
    @include discount-price();
    font-size: 12px;

    @media(min-width: $bp-sm) {
      font-size: 14px;
    }
  }

  .standart-price {
    @include standart-price();
    font-size: 15px;

    @media(min-width: $bp-sm) {
      font-size: 17px;
    }
  }

  .simple-price {
    @include simple-price();
  }

  .action {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .buy {
    @include PinkButton();
  }

  .action-block {
    display: none;
  }

  &:hover .action-block {
    display: block;
  }
}

.goods-list {
  display: flex;
  gap: 30px;
}

.goods-block > .title {
  @include flex-center();
  color: $color-black;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media(min-width: $bp-sm) {
    font-size: 20px;
  }

  span {
    display: inline-block;
    height: 27px;
    padding: 5px;
    color: $discount;
    font-size: 14px;
    background-color: rgb(249,156,17, 0.2);
    border-radius: 10px;

    @media(min-width: $bp-sm) {
      font-size: 15px;
    }
  }
}