.header {
  background-color: $pink;
  color: white;

  &-wrapper {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0;

    .menu {
      flex: 1 1 auto;

      &-items {
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
      }

      &-item::marker {
        font-size: 0;
      }

      a {
        text-decoration: unset;
        color: $color-white;
        font-size: $standart-text;
        font-family: $font-family-Comfortaa;
      }
    }

    .contacts {
      display: flex;
      align-items: center;
      gap: 30px;
      font-size: $standart-text;

      .contacts-number {
        font-size: 17px;
        font-weight: 500;
      }

      .social-media {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .language-switcher {
        display: flex;
        align-items: center;
        gap: 9px;
        cursor: pointer;

        &__language:last-of-type:before {
          content: '';
          border-left: 1px solid #FFEAF1;
          padding-left: 9px;
        }

        .active {
          color: $lightpurple;
          font-weight: 300;
          text-decoration: underline;
        }
      }

      .log-in {
        display: flex;
        align-items: center;
        gap: 10px;

        &__text {
          text-decoration: underline;
          color: $color-white;
        }
      }
    }
  }

  &-navigation {
    display: flex;
    position: relative;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    min-height: 79px;
  }

  .catalog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 234px;
    padding: 30px;
    background-color: $color-white;
    color: $color-black;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);

    .catalog-navigation {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 30px;
      gap: 10px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $morelightgrey;
      }

      .title {
        margin-bottom: 0;
        font-size: 17px;
      }
    }

    .catalog-burger {
      position: relative;
      width: 31px;
    }

    .catalog-burger span {
      position: absolute;
      bottom: 0;
      display: block;
      height: 3px;
      width: 25px;
      background-color: #D03664;

      &::before,
      &::after {
        content: '';
        position: relative;
        display: block;
        height: 3px;
        width: 25px;
        background-color: #D03664;
      }

      &::before {
        top: -7px;
      }

      &::after {
        top: 4px;
      }
    }

    .catalog-menu {
      padding: 0;
      margin: 0;

      &__item {
        margin-top: 30px;
        cursor: pointer;

        &::marker {
          font-size: 0;
        }
      }

      &__item a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: unset;
        color: $color-black;
        font-weight: 300;
        font-size: 15px;
      }
    }
  }

  .search-block {
    position: relative;
    width: 100%;
    max-width: 767px;
    margin-left: 264px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      background-image: url('../img/icons/search.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .search-form-field {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #FFF;
      background: rgba(255, 255, 255, 0.15);

    }

    input::placeholder {
      font-size: 15px;
      color: $color-white;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      display: flex;
      align-items: center;
      gap: 7px;
      font-weight: 700;
      font-size: 15px;
    }

    .cart {
      min-width: 21px;
      min-height: 21px;
      text-align: center;
      border-radius: 50%;
      background-color: $discount;
    }
  }
}

@media(min-width: 1200px) { 
  .header-wrapper { 
    padding: 0 10px;
  }
}

@media(max-width: 1200px) {
  .header-menu .menu,
  .header-menu .contacts {
    display: none;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
  }

  .header-menu {
    position: absolute;
    left: 90px;
    padding: unset;
  }

  .header-navigation {
    width: 100%;
    padding-right: 30px;
  }

  //.header .catalog {
  //  background: unset;
  //  box-shadow: unset;

  //  .catalog-menu,
  //  .catalog-navigation .title {
  //    display: none;
  //  }

  //  .catalog-navigation::after {
  //    content: unset;
  //  }

  //  .catalog-navigation {
  //    padding-bottom: 0;
  //  }

  //  .catalog-burger span {
  //    height: 2px;
  //    width: 30px;
  //    background-color: $color-white;
  //    bottom: -12px;

  //    &::before,
  //    &::after {
  //      width: 30px;
  //      background-color: $color-white;
  //      height: 2px;
  //    }

  //    &::after {
  //      width: 50%;
  //    }
  //  }
  //}
}

@media(max-width: 768px) {
  .header-navigation {
    min-height: 60px;
    gap: 20px;
    padding-right: 16px;
  }

  .header-menu {
    left: 56px;
  }

  //.header .catalog {
  //  padding: 0;
  //  top: 20px;
  //  left: 16px;
  //}

  .header .search-block {
    width: 20px;
    height: 30px;
    max-width: unset;
    margin-left: unset;

    &::after {
      right: 0;
      top: 5px;
    }

    .search-form {
      display: none;
    }
  }

  .header .actions {
    gap: 20px;
  }

  .header .actions a {
    position: relative;

    .cart {
      position: absolute;
      width: 15px;
      height: 15px;
      top: -10px;
      right: -10px;
    }
  }

  .logo img {
    width: 90px;
    height: 20px;
  }
}

@media(max-width: 375px) {
  span.counter {
    display: none;
  }

  .header .actions,
  .header-navigation {
    gap: 10px;
  }
}